{"filter":false,"title":".gitconfig","tooltip":"~/.gitconfig","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":0},"end":{"row":4,"column":0},"action":"insert","lines":["[user]","\tname = emi",""],"id":2,"ignore":true}],[{"start":{"row":4,"column":0},"end":{"row":5,"column":0},"action":"insert","lines":["\temail = sakahiga@yahoo.co.jp",""],"id":3,"ignore":true}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1522319721161,"hash":"b94fb158a4c032cb88767e4ed521713685283921"}